name: Deploy MyDrive Application
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Stop old apps
        shell: powershell
        run: pm2 stop all

      - name: Checkout
        uses: actions/checkout@v3
        with: { clean: false }

      - name: Node 20
        uses: actions/setup-node@v4
        with: { node-version: 20 }

      - name: Install globals
        shell: powershell
        run: |
          npm i -g pm2
          npm i -g serve

      - name: Install backend deps
        working-directory: ./server
        run: npm i --omit=dev

      - name: Install frontend deps
        working-directory: ./client
        run: npm i --legacy-peer-deps

      - name: Build frontend
        working-directory: ./client
        env: { NODE_OPTIONS: "--max-old-space-size=4096" }
        run: npm run build

      - name: Start Applications
        shell: powershell
        run: |
          pm2 delete all
          pm2 start ecosystem.config.js
          pm2 save

      - name: Verify
        shell: powershell
        run: pm2 status
